 

 h1{
text-align: center;
font-family: $tipografia;
font-size: 30px;
padding:20px ;
}
    
h2{
text-align: center;
font-family: $tipografia;
font-size: 50px;}
h3{
font-size: 30px;
}
.card-body{
    background-image: url(../imagenes/unfondo.jfif)
}
.logo{
width: 4rem;
 height: 4rem;
 border-color: black;
padding:10px;  
}
.logo--medium{

width: 6rem;
height: 6rem;
@extend .logo;
}
