.footer__contenedor{

@include crearFlex(space-between,strech);
padding-top: 50px;
font-size: $miVariable;
background-color: $miVariable;
 
}
.footer__imagen{
height:100px;
width: 100px;
 padding: 1rem;
 }
.piedepagina{
 padding: 100px;
}

.footer{
    padding-top: 3rem;
}

.icono__items{
    color: white;
}
    
.derechos{
    color: white
}