@media screen and (max-width: 1024px) {
    
    .header{
        height: auto;
    }
    .header__contenedor {
        flex-direction: column;
    }
    .section{
        flex-direction: column;
    }
    .section__contenedor{
        flex-direction: column;
        flex-wrap: wrap; }

    .sectiondos__grid{
        grid-template-columns: 1fr;
      grid-column: 100px 100px 100px ;
    }

   .grid__compra{
       grid-template-columns: 1fr;
       grid-template-rows: 300px;
    
   }
   .sectiondos__img{
       flex-wrap: wrap;
   } 

   .footer__contenedor{
       flex-direction: column;
       overflow-x: hidden;
       
   }
   .compra__grid{
       grid-template-columns: 1fr;
       grid-template-rows: 200px;
   }

   .section__titulo{
    font-size: 15px;

}





.footer__imagen{

        grid-template-columns: 1fr;
    
        justify-content: end;}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        ;
        padding-left: 1rem;
        
          
        }
        .icono{
            display: grid;
        
  justify-content: end;
   .footer__imagen {
    display: grid;
        
    justify-content: end;
   }
   .derechos{
    display: flex;
    flex-direction: column;
    align-items: center;

}



 
          
           
       
}

.experiencia__grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 500px;
    justify-content: center;
    overflow: hidden;

 }
 .tamaño{
    width: 80%;
    height: 80%;
}    

 .sep__img{
    height: 300px;
    width: 500px;
    overflow: hidden;
    padding-right: 50px;
    padding-top: 50px;
}

.section__titulo{
    font-size: 50px;
}

   

}

@media screen and (max-width: 600px) {

    .nav__lista{
            flex-wrap: wrap;}
    
    .sectiondos__grid{
     grid-template-columns: 1fr;
     grid-column: 100px 100px;
   }
    
    

    .section__titulo{
        font-size: 15px;
    }
    .card{
        
        padding-left: 1rem;
    }
 
    .derechos{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer__imagen {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
       }
   
.icono__flex{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.icono__items{
    font-size: 5px;
}
.experiencia{
    max-width: 600px ;
}

.experiencia__grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 250px;
    justify-content: center;
   

 }   
 .tamaño{
    
     height: 100%;
 }  
 .sep__img{
     height: 300px;
     width: 350px;
     overflow: hidden;
     padding-right: 50px;
     padding-top: 50px;
 }


.sep1{
  margin: 1rem;

}
.sep2{
    margin: 1rem;
}

                    
    }


    @media screen and (max-width: 768px) {  

        .sep__img{
            height: 300px;
            width: 350px;
            overflow: hidden;
            padding-right: 50px;
            padding-top: 50px;
    }

.sep1{
    max-width: 80%;

    
}

.sep2{
    max-width: 70%;
    margin: 2rem;

}

    }
   