@media screen and (max-width: 1024px) {
    
    .header{
        height: auto;
    }
    .header__contenedor {
        flex-direction: column;
    }
    .section{
        flex-direction: column;
    }
    .section__contenedor{
        flex-direction: column;
        flex-wrap: wrap; }

    .sectiondos__grid{
        grid-template-columns: 1fr;
      grid-column: 100px 100px 100px ;
    }

   .grid__compra{
       grid-template-columns: 1fr;
       grid-template-rows: 300px;
    
   }
   .sectiondos__img{
       flex-wrap: wrap;
   } 

   .footer__contenedor{
       flex-direction: column;
       
   }
   .compra__grid{
       grid-template-columns: 1fr;
       grid-template-rows: 200px;
   }

   .section__titulo{
    font-size: 15px;

}
.footer__imagen{

        grid-template-columns: 1fr;
        grid-column: 100px 100px;
        justify-content: end;}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
          
        }
    
}

@media screen and (max-width: 600px) {

    .nav__lista{
            flex-wrap: wrap;}
    
    .sectiondos__grid{
     grid-template-columns: 1fr;
     grid-column: 100px 100px;
     justify-content: end;}
    
     .icono__grid{
         display: grid;
        grid-template-columns: 1fr; 
        


       
        
    
    }

    .section__titulo{
        font-size: 15px;
    }
    .card{
        
        padding-left: 5rem;
    }
    .icono__items{
    
        grid-template-columns: end;
        font-size: 20px;

    }
    .derechos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
                 
                    
    }




 


 